*{
    box-sizing: border-box;
}

:root{
    /* color */
  --color-black: #4d4d4d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-button : 60px;
  --size-logo : 120px;
  --size-border-radius: 4px;
  --size-thumnail: 50px;
  --button-font-size : 18px;

  /* animation */
  --animation-duration:300ms;
}

ul,li,button{
    outline-style: none;
    border: none;
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-black);
}
/* Logo */
.logo{
    width:var(--size-logo);
    background-color: transparent;
    cursor: pointer;
    margin-bottom: var(--base-space);
}

/* Buttons */
.buttons{
    display: flex;
    align-items: center;
}

.btn{
    background-color: transparent;
    cursor: pointer;
    margin-right: var(--base-space);
}

.logo:hover,
.btn:hover{
    transform: scale(1.2);
}
.imgBtn{
    width: var(--size-button);
    height: var(--size-button);
}
.colorBtn{
    font-size: var(--button-font-size);
    padding: var(--base-space);
    border-radius: var(--size-border-radius);
    color: var(--color-white);
}

.blue{
    background-color: var(--color-blue);
}
.yellow{
    background-color: var(--color-yellow);
}
.pink{
    background-color: var(--color-pink);
}

/* Itmes */
.items{
    width: 70%;
    height: 70vh;
    padding-top: var(--base-space);
    padding-left: 0;
    background-color: var(--color-white);
    overflow-y: hidden;
    overflow-y: scroll;
}

.item{
    display: flex;
    align-items: center;
    padding-left: var(--base-space);
    margin-bottom: var(--base-space);
}

.item__thumbnail{
    width: var(--size-thumnail);
    height: var(--size-thumnail);
}

.item__desc{
    margin-left: var(--base-space);
}